# Ignore los archivos de configuración de virtualenv
venv/

# Ignore los archivos de configuración de PyCharm
.idea/

# Ignore los archivos de configuración de VSCode
.vscode/

# Ignore los archivos de configuración de Sublime Text
*.sublime-project
*.sublime-workspace

# Ignore los archivos de configuración de Git
.git/

# Ignore los archivos de configuración de Python
__pycache__/
*.py[cod]
*$py.class

# Ignore archivos temporales del servidor
temp/

# Variables de entorno
.env